
    <!-- Contenedor principal -->
    <div class="container mt-4">
        <!-- Título -->
        <div class="d-flex justify-content-between align-items-center row">
            <div class="d-flex align-items-center row">
                <div class="me-5 col">
                    <h3> Balance: {{balance}}$</h3>

                </div>
                
                <!-- modal para crear una categoria -->
                 
                <div class="me-5 col text-end">
                    <button class="btn btn-primary" id="new-category" data-bs-toggle="modal" data-bs-target="#categoryModal" data-bs-whatever="@mdo">New Category</button>
                </div>
                <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content section-general border">
                            <div class="modal-header">
                                <h1 class="modal-title" id="categoryModalLabel">Create Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <section class="modal-body">
                                <form [formGroup]="formCategory" (ngSubmit)="postCategory()" class="card card-body bg-light-subtle">            
                                    <div class="mb-3">
                                        <label for="nombreCategoria">Name:</label>
                                        <input type="text" placeholder="write the catgory name" name="nombreCategoria" id="nombreCategoria" class="form-control"
                                        formControlName="nombreCategoria" [ngClass]="{'is-invalid': hasErrors('nombreCategoria','required')}"> <!-- si hay error añade esa clase css-->
                    
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('nombreCategoria','required')) {
                                            <div class="text-danger"> Name is required</div>
                                            }
                                    </div>

                                    <div class="text-center" >
                                        <button class="btn btn-dark" type="submit">
                                            Create
                                        </button>
                                    </div>
                    
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
                
                <!-- modal para crear una transaccion -->
                <div class="me-5 col text-end">
                    <button class="btn btn-primary" id="new-transaction" data-bs-toggle="modal" data-bs-target="#ingresarModal" data-bs-whatever="@mdo">New Transaction</button>
                </div>
                <div class="modal fade" id="ingresarModal" tabindex="-1" aria-labelledby="ingresarModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content section-general border">
                            <div class="modal-header">
                                <h1 class="modal-title" id="ingresarModalLabel">Create Transaction</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <section class="modal-body">
                                <form [formGroup]="formTransaction" (ngSubmit)="postTransaccion()" class="card card-body bg-light-subtle">            
                                    <div class="mb-3">
                                        <label for="nombre">Name:</label>
                                        <input type="text" placeholder="Write the transaction name" name="nombre" id="nombre" class="form-control"
                                        formControlName="nombre" [ngClass]="{'is-invalid': hasErrors('nombre','required')}"> <!-- si hay error añade esa clase css-->
                    
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('nombre','required')) {
                                            <div class="text-danger"> Name is required</div>
                                            }
                                    </div>

                                    <div class="mb-3">
                                        <label for="tipo">Category:</label>
                                        <select class="form-select" name="categoria" id="categoria" formControlName="categoria" [ngClass]="{'is-invalid': hasErrors('categoria','required')}">
                                            <option value="" disabled selected>Select a category</option>
                                            @for (category of categoryList; track category.id) {
                                                <option value="{{ category.id }}">{{ category.nombre }}</option>
                                            }
                                        </select>
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('categoria','required')) {
                                            <div class="text-danger">Category is required</div>
                                            }
                                    </div>

                                    <div class="mb-3">
                                        <label for="tipo">Type:</label>
                                        <select class="form-select" name="tipo" id="tipo" formControlName="tipo" [ngClass]="{'is-invalid': hasErrors('tipo','required')}">
                                            <option value="" disabled selected>Select a transaction type</option>
                                            <option value="Income">Income</option>
                                            <option value="Cost">Cost</option>
                                        </select>
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('tipo','required')) {
                                            <div class="text-danger">Type is required</div>
                                            }
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="monto">Amount:</label>
                                        <input type="float" placeholder="Write the transaction amount" name="monto" id="monto" class="form-control"
                                        formControlName="monto" [ngClass]="{'is-invalid': hasErrors('monto','required')}"> <!-- si hay error añade esa clase css-->
                    
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('monto','required')) {
                                            <div class="text-danger"> Amount is required</div>
                                            }
                                    </div>

                                    <div class="mb-3">
                                        <label for="username">Description:</label>
                                        <input type="text" placeholder="Write a description" name="descripcion" id="descripcion" class="form-control"
                                        formControlName="descripcion" [ngClass]="{'is-invalid': hasErrors('descripcion','required')}"> <!-- si hay error añade esa clase css-->
                    
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('descripcion','required')) {
                                            <div class="text-danger"> Description is required</div>
                                            }
                                    </div>

                                    <div class="text-center" >
                                        <button class="btn btn-dark" type="submit">
                                            Create
                                        </button>
                                    </div>
                    
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla de Transacciones -->
        <div class="mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Typo</th>
                        <th scope="col">amount</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody >
                    <!-- Filas dinámicas de transacciones -->
                    @for (transaction of transactionsList; track transaction.id) {
                        <!-- si se hace click en una fila se abre el modal de esa transaccion -->
                        <tr style="cursor: pointer;" (click)="openModal(content,transaction)">
                            <td>{{ transaction.nombre }}</td>
                            <td>{{ transaction.categoria.nombre }}</td>
                            <td class="text-danger">{{transaction.tipo}}</td>
                            <td>{{ transaction.monto }}</td>
                            <td>{{ transaction.fecha | date:'dd/MM/yyyy'}}</td>   
                        </tr>
                        <!-- Modal para editar o eliminar la transaccion -->            
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">{{transaction.nombre}}</h4>
                                <button type="button" class="close" (click)="modal.close()">
                                <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="formTransaction" (ngSubmit)="putTransaccion(transaction.id,modal)" class="card card-body bg-light-subtle">            
                                    <div class="mb-3">
                                        <label for="nombre">Name:</label>
                                        <input type="text" placeholder="Write the transaction name" name="nombre" id="nombre" class="form-control"
                                        formControlName="nombre" [ngClass]="{'is-invalid': hasErrors('nombre','required')}"> <!-- si hay error añade esa clase css-->
                    
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('nombre','required')) {
                                            <div class="text-danger"> Name is required</div>
                                            }
                                    </div>

                                    <div class="mb-3">
                                        <label for="tipo">Category:</label>
                                        <select class="form-select" name="categoria" id="categoria" formControlName="categoria" [ngClass]="{'is-invalid': hasErrors('categoria','required')}">
                                            <option value="" disabled >Select a category</option>
                                            @for (category of categoryList; track category.id) {
                                                <option value="{{ category.id }}">{{ category.nombre }}</option>
                                            }
                                        </select>
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('categoria','required')) {
                                            <div class="text-danger">Category is required</div>
                                            }
                                    </div>

                                    <div class="mb-3">
                                        <label for="tipo">Type:</label>
                                        <select class="form-select" name="tipo" id="tipo" formControlName="tipo" [ngClass]="{'is-invalid': hasErrors('tipo','required')}">
                                            <option value="" disabled selected>Select a transaction type</option>
                                            <option value="Income">Income</option>
                                            <option value="Cost">Cost</option>
                                        </select>
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('tipo','required')) {
                                            <div class="text-danger">Type is required</div>
                                            }
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="monto">Amount:</label>
                                        <input type="float" placeholder="Write the transaction amount" name="monto" id="monto" class="form-control"
                                        formControlName="monto" [ngClass]="{'is-invalid': hasErrors('monto','required')}"> <!-- si hay error añade esa clase css-->
                    
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('monto','required')) {
                                            <div class="text-danger"> Amount is required</div>
                                            }
                                    </div>

                                    <div class="mb-3">
                                        <label for="username">Description:</label>
                                        <input type="text" placeholder="Write a description" name="descripcion" id="descripcion" class="form-control"
                                        formControlName="descripcion" [ngClass]="{'is-invalid': hasErrors('descripcion','required')}"> <!-- si hay error añade esa clase css-->
                    
                                        <!-- Si hay un error muestra el mensaje del error -->
                                            @if(hasErrors('descripcion','required')) {
                                            <div class="text-danger"> Description is required</div>
                                            }
                                    </div>

                                    <div class="text-center" >
                                        <button class="btn btn-dark" type="submit">
                                            Update
                                        </button>
                                    </div>
                    
                                </form>
                            <div class="text-center mt-3" >
                                <button class="btn btn-danger" (click)="deleteTransaccion(transaction.id,modal)">
                                    Delete Transaction
                                </button>
                            </div>

                            </div>
                        </ng-template>
                    }
                </tbody>
            </table>
        </div>
    </div>
